container_commands:
  collectstatic:
    command: "manage.py collectstatic --noinput"
  01syncdb:
    command: "manage.py syncdb --noinput"
    leader_only: true
  02migrate:
    command: "manage.py migrate"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: WiWeb/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: WiWeb.settings
